/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 0.75rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Next & previous buttons */
.ss-prev,
.ss-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2rem;
  margin-right: 4rem;
  margin-left: 4rem;
  color: lightgray;
  font-weight: 200;
  font-size: 4rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.ss-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.ss-prev:hover,
.ss-next:hover {
  font-size: 4.25rem;
  color: white;
}

/* The dots/bullets/indicators */
.ss-dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 0.25rem;
  background-color: #adaeaf;
  border-radius: 30%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.ss-dot:hover {
  background-color: #5d5e5f;
}

/* Fading animation */
/* .fadeIn {
  animation: cross-fade 1.5s;
}
@keyframes fadeIn {
  0% {opacity: 0; }
  100% {opacity: 1; }
} */
.ss-slides img {
  display: block;
}
