.home-titles {
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.grid-container {
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%; */
  padding: 2%;
}
.card {
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border: none;
}
.card-title {
  font-size: 1vmax;
}
.card-text {
  font-size: 0.7vmax;
}
.card-btn {
  margin-top: auto;
  margin-bottom: 1%;
  margin-left: auto;
  font-size: 0.8vmax;
}
.grid-container .card {
  display: inline-block;
  overflow: visible;
}
@media only screen and (max-width: 600px) {
  .grid-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .grid-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .grid-container {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
body {
  background: url("/images/frosty-sunrise.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#home-title-0 {
  margin-top: 2vh;
  font-weight: 600;
}
#home-title-1 {
  font-weight: 600;
}
#home-title-2 {
  font-weight: 300;
}
#home-title-3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4vh;
  font-size: 4.5vw;
  font-weight: 800;
}
.main-titles {
  margin-top: 6%;
  font-size: 4.5vw;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
#gallery-title {
  margin-top: 4%;
  font-size: 4.5vw;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.btn {
  color: white;
  background-color: #3d3b3a;
  border-color: #3d3b3a;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: white;
  background-color: #5f5d5c;
  border-color: #5f5d5c;
}
.btn:active {
  background-color: #afadac;
  border-color: #5f5d5c;
}
.btn-home {
  margin-top: 2vh;
  text-align: center;
}
.btn-outline-success:active {
  background-color: #afadac;
  border-color: #5f5d5c;
}
footer {
  background-color: #3d3b3a;
  text-align: center;
  padding: 0.5rem;
  color: #afadac;
}
#portrait-img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 15%;
  width: 15%;
  margin-top: 12vh;
}
.socials {
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#about-title {
  margin-top: 10vh;
  font-size: 4.5vw;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.about-text {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 1.25vw;
  text-align: center;
  margin-top: 4vh;
  margin-right: 20vw;
  margin-left: 20vw;
  margin-bottom: 10rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.sub-titles {
  margin-top: 3%;
  font-size: 3vw;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
