/* Root Style / all pages */
html {
  font-family: "Poppins" sans-serif;
}
body {
  background: url("/images/frosty-sunrise.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.socials {
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
footer {
  background-color: #3d3b3a;
  text-align: center;
  padding: 0.5rem;
  color: #afadac;
}

/* Gallery Page with Cards */
#gallery-title {
  margin-top: 4%;
  font-size: 5vmax;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.sub-titles {
  margin-top: 1%;
  font-size: 3vmax;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.grid-container {
  align-items: center;
  /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%; */
  padding: 1.5%;
}
.card {
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border: none;
}
.card-title {
  text-decoration: none;
  color: black;
}
.card-text {
  text-decoration: none;
  color: black;
}
.card-main {
  text-decoration: none;
}
.grid-container .card {
  display: inline-block;
  overflow: visible;
}
@media only screen and (max-width: 600px) {
  .grid-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .card-title {
    font-size: 1.5vmax;
  }
  .card-text {
    font-size: 1.2vmax;
  }
  .card {
    margin-bottom: 3%;
  }
}
@media only screen and (min-width: 601px) {
  .grid-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .card-title {
    font-size: 1.25vmax;
  }
  .card-text {
    font-size: 0.95vmax;
  }
  .card {
    margin-bottom: 3%;
  }
}
@media only screen and (min-width: 993px) {
  .grid-container {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  .card-title {
    font-size: 0.95vmax;
  }
  .card-text {
    font-size: 0.75vmax;
  }
}

/*Home Page*/
.home-titles {
  font-size: 4vw;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
#home-title-0 {
  margin-top: 2vh;
  font-weight: 600;
}
#home-title-1 {
  font-weight: 600;
}
#home-title-2 {
  font-weight: 300;
}
#home-title-3 {
  margin-top: 4vh;
  font-size: 4.5vw;
  font-weight: 800;
}
.main-titles {
  margin-top: 6%;
  font-size: 5vmax;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.btn {
  color: white;
  background-color: #3d3b3a;
  border-color: #3d3b3a;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: white;
  background-color: #5f5d5c;
  border-color: #5f5d5c;
}
.btn:active {
  background-color: #afadac;
  border-color: #5f5d5c;
}
.btn-home {
  margin-top: 2vh;
  text-align: center;
}
.btn-outline-success:active {
  background-color: #afadac;
  border-color: #5f5d5c;
}

/*About Page*/
#portrait-img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 15%;
  width: 15%;
  margin-top: 12vmax;
}
#about-title {
  margin-top: 10vmax;
  font-size: 4vmax;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.about-text {
  color: white;
  font-weight: 400;
  font-size: 1.5vmax;
  text-align: center;
  margin-top: 4vh;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 10rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
